* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Quantico", sans-serif;
    transition: 0.2s ease-in-out;
    color: inherit;
}

.container {
    max-width: 90%;
    margin: 0 auto;
}

body {
    background-color: black;
}


nav {
    padding: 20px 0;
    background-color: #272C3D;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 20px;
}

nav .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-left li:hover {
    color: #cf7f34;
    transition: 0.2s ease-in-out;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav-right>div {
    position: relative;
}

.nav-right input {
    background: #404864;
    min-width: 190px;
    min-height: 30px;
    border: 2px solid transparent;
    border-radius: 5px;
}

.nav-right img {
    position: absolute;
    top: 50%;
    right: 4px;
    z-index: 10;
    transform: translateY(-50%);
}

img {
    display: block;
    height: auto;
}

span {
    font-size: 20px;
    font-weight: 400;
    line-height: 28.6px;
}

li {
    font-family: Quantico;
    font-size: 20px;
    font-weight: 400;
    line-height: 28.6px;
}

select {
    background: black;
    min-width: 130px;
    min-height: 30px;
    border-radius: 5px;
}


.section-menu {
    width: 204px;
    margin: 0 auto;
    text-align: center;
}

.section-title {
    font-size: 24px;
    color: #fff;
}

.section-text {
    font-size: 14px;
    color: #fff;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-position: center center;
    background-image: url("./Bg.png");
    width: 100%;
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    padding-top: 760px;
    padding-bottom: 20px;
    background-color: black;
    height: 100%;
}

.main {
    border: 1px solid transparent;
    height: 500px;
    width: 500px;
}

.intro {
    background-color: black;
    height: 100vh;
    padding-bottom: 16px;
    text-align: center;
}

h2 {
    padding-top: 10px;
    color: #fff;
    font-family: Quantico;
    font-size: 32px;
    font-weight: 400;
    line-height: 45.76px;
}

.cards {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 17px;
    gap: 28px;
}

.cards img {
    width: 370px;
    height: 300px;
    top: 680px;
    left: 165px;
}

.intro-img {
    display: flex;
    align-items: center;
    text-align: center;
    color: white;
    justify-content: center;
    padding-bottom: 13px;
}

.intro-menu-2 {
    color: #2c252582;
    display: flex;
}

.slides {
    color: #272C3D;
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    top: 135%;
    padding: 146px;
}

.hero-2 {
    background: #2d3244;
    max-width: 70%;
    margin: 40px auto;
    text-align: start;
}

.hero-wrapper {
    display: flex;
    gap: 5%;
}

.hero-wrapper > div {
    flex: 1;
}

footer {
    background: #2d3244;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 34px;
}

.footer-img {
    padding: 16px 34px 26px;
}

.footer-lists {
    color: #fff;
}

.hero-card {
    padding: 30px 30px 136px 30px;
}

.hero-card-1 {
    padding: 30px 30px 136px 30px;
}

.hero-h3 {
    width: 351px;
    color: #ffff;
    padding-top: 30px;
    margin-bottom: 30px;
}

.hero-p {
    color: #ffff;
}

.hero-img-3 {
    color: #ffff;
    display: flex;
    gap: 15px;
    padding-top: 60px;
}


.hero-wrapper-right {
    display: flex;
    flex-direction: column;
    gap: 40px;
}